<!doctype html>
<html>
<% include ../partial/head.ejs %>
<body>

  <% include ../partial/heady.ejs %>

  <!-- ASIDE NAV AND CONTENT -->
  <div class="line">
     <div class="box">
        <div class="margin2x">
           <!-- CONTENT -->
           <section class="s-12 m-8 l-9 center">
             <div class="">

             <div class="col-sm-6 col-sm-offset-3">

                 <h1><span class="fa fa-sign-in"></span> Signup</h1>

                 <!-- show any messages that come back with authentication -->
                 <% if (success_msg){ %>
                     <div data-alert class="alert-box alert success radius" style="color : green">
                   <%= success_msg %>
                     </div>
                   <% } if (error_msg) { %>
                     <div data-alert class="alert-box warning radius" style="color : red">
                   <%= error_msg %>
                     </div>
               <% } %>

                 <!-- LOGIN FORM -->
                 <form action="/signup" method="post">
                     <div class="form-group">
                         <label>Name</label>
                         <input type="text" class="form-control" name="name" required="true">
                     </div>
                     <div class="form-group">
                         <label>Mobile No</label>
                         <input type="text" class="form-control" name="phoneno" required="true">
                     </div>
                     <div class="form-group">
                         <label>Email</label>
                         <input type="email" class="form-control" name="email" required="false" placeholder="Optional">
                     </div>
                     <div class="form-group">
                         <label>Password</label>
                         <input type="password" class="form-control" name="password" required="true">
                     </div>
                     <div class="form-group">
                         <label>Password</label>
                         <input type="password" class="form-control" name="password2" required="true">
                     </div>


                     <button type="submit" class="btn btn-warning btn-lg">Signup</button>
                 </form>

                 <hr>

                 <p>Already have an account? <a href="/login">Login</a></p>
                 <p>Or go <a href="/">home</a>.</p>

             </div>

             </div>
           </section>

            </div>
         </div>
      </div>

        </div>
     </div>
  </div>
  <!-- FOOTER -->


  <% include ../partial/footer.ejs %>


<% include ../partial/footer-script.ejs %>
</body>
</html>
