<!doctype html>
<html>
<% include ../partial/head.ejs %>
<body>
<header>
  <% include ../partial/heady.ejs %>

  <% include ../partial/search.ejs %>
</header>
  <!-- ASIDE NAV AND CONTENT -->
  <div class="line">
     <div class="box">
        <div class="margin2x">
           <!-- CONTENT -->
           <section class="s-12 m-8 l-9 center">
             <div class="">

             <div class="col-sm-6 col-sm-offset-3">

                 <h1><span class="fa fa-sign-in"></span> Create Ad</h1>

                 <!-- show any messages that come back with authentication -->
                 <% if (success_msg){ %>
                     <div data-alert class="alert-box alert success radius" style="color : green">
                   <%= success_msg %>
                     </div>
                   <% } if (error_msg) { %>
                     <div data-alert class="alert-box warning radius" style="color : red">
                   <%= error_msg %>
                     </div>
               <% } %>

                 <!-- LOGIN FORM -->

                                     <form id="" method="POST" action="/add" enctype="multipart/form-data" >
                                       <div class="row">
                                     <div class="col-md-6 col-sm-12 col-xs-12">
                                       <div class="">
                                        <select class="form-control" id="cat" name="category" required="true" style="background-color : inherit">
                                          <option  value="">Select Category</option>
                                          <option  value="Appartments & Rooms for Rent">Appartments & Rooms for Rent</option>
                                          <option  value="Appartments & Rooms for Sale">Appartments & Rooms for Sale</option>
                                          <option  value="Cottages">Cottages</option>
                                          <option  value="Conference Halls">Conference Halls</option>
                                          <option  value="Hotel Rooms">Hotel Rooms</option>
                                          <option  value="Shops/Office Space">Shops/Office Space</option>
                                        </select>
                                      </div>
                                     </div>
                                     <div class="col-md-6 col-sm-12 col-xs-12">
                                       <div class="">
                                        <input class="" id="geocomplete" type="text" placeholder="Type in an address" value="Empire State Bldg" />
                                        <input id="find" type="button" value="find" />
                                      </div>
                                        <div class="form-group">
                                      <input class="form-control" name="name" type="text" value="" />
                                       </div>
                                     </div>

                                    </div><br>
                                      <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                      <div class="form-group">
                                          <label>Adds Title:</label>
                                           <input class="form-control" type="text" name="title" required="true"/>
                                        </div>
                                       <div class="form-group">
                                        <label>Price:</label>
                                           <input class="form-control" type="text" name="price" required="true"/>
                                       </div>
                                      </div>
                                      <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label>Ads Description:</label>
                                             <textarea class="form-control" rows="3" name="info" required="true"></textarea>
                                          </div>
                                         <div class="form-group">
                                             <label>Room Image:</label>
                                              <input type="file" name="image" required="true"/>
                                         </div>


                                        </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-offset-3 col-md-9 col-sm-12 col-xs-12">
                                        <button type="submit" class="btn btn-style blue">Create</button>
                                        <button type="cancel" class="btn btn-style blue">Cancel</button>
                                      </div>
                                    </div>

                                  </form>

                                  

             </div>

             </div>
           </section>

            </div>
         </div>
      </div>

        </div>
     </div>
  </div>
  <!-- FOOTER -->


  <% include ../partial/footer.ejs %>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <script src="assets/js/jquery.geocomplete.js"></script>
  <script src="assets/js/jquery.geocomplete.min.js"></script>

  <script>
    $(function(){
      $("#geocomplete").geocomplete({
        map: ".map_canvas",
        details: "form",
        types: ["geocode", "establishment"],
      });

      $("#find").click(function(){
        $("#geocomplete").trigger("geocode");
      });
    });
  </script>
<% include ../partial/footer-script.ejs %>
</body>
</html>
