<!doctype html>
<html>
<% include ../partial/head.ejs %>
<body>

<div class="container-fluid big-wraper">

    <div class="row top-section">
        <div class="col-md-12 col-xs-12">

        </div>
    </div>

    <div class="row content">

      <div class="col-md-8 col-xs-12">
        <div class="slider"></div>
         <h2>Middle Container </h2>
      </div>
      <div class="col-md-4 col-xs-12">
         <h2>Right Side Bar </h2>
      </div>
    </div>

</div>

</body>
</html>
