body {
  background-color: white;
  margin-top: 0px;
  overflow-x: hidden;
}

.big-wraper {
  margin: 0px;
}

.top-section {
  background-color: #ebebe0;
  height: 80px;

}

.page-header {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  height : 62px;
}

nav {
  border-color: inherit;
}

.navbar {
  background-color: inherit;

}

.content {
  margin-left: 0px;
  margin-right: 0px;
}

.slider {
  width: auto;
  height : 275px;
  margin-top: 0px;
  margin-left: 0px;

  background-color: #aaafb7;
  border-style: double;
  border-color: gray;
}

.cat-title {
  padding-top: 1px;
  background-color: black;
}

.admin-cat-title {
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: 0px;
  background-color: black;

}

.image-frame {

}

.index-items {
  text-align: ;
  background-color: white;
}

.index-item-box {
  border-style: ridge;
  border-color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}

.index-content-box {
  padding-top: 1px;
  margin: 1px 5px 1px 5px;
  background-color: white;
  text-align: center;
}

.rooms-frame {
  border-style: ridge;
  border-color: black;
}

.index-cont {
  margin-bottom: 10px;
}

.ind {
  height: 180px;
}


.subtitle {
    position: relative;
    line-height: normal;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 0px 0px 3px;
    margin: 0px 0px 20px;
    border-bottom: 2px solid rgb(221, 221, 221);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(221, 221, 221);
}

.search {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  background-color: #80b3ff;
}

.dash-top {
  margin-top: 0px;
}

.dash-body {
  margin-left: 200px;
  height: 50px;
  background-color: black;
}

.stats {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.stats i {
  font-size: 60px;
}

.stat-elements {
    border: 2px outset;
    margin-left: 20px;
    margin-right: 20px;
    height: 130px;

}

.footer {
  height: 100px;
  background-color: #ebebe0;
}

.agents-table {
  border: 2px outset;
  margin-left : 20px;
  margin-right : 20px;
}
