<aside class="s-12 m-2 l-2">
   <div class="aside-nav minimize-on-small">
      <p class="aside-nav-text">Sidebar navigation</p>
      <ul>
         <li><a href="/">Home</a></li>
         <li>
            <a>Ads</a>
            <ul>
               <li><a href="/adsAppartments & Rooms for Rent">Appartments & Rooms for Rent</a></li>
               <li><a href="/adsAppartments & Rooms for Sale">Appartments & Rooms for Sale</a></li>
               <li><a href="/adsCottages">Cottages</a></li>
               <li><a href="/adsConference Halls">Conference Halls</a></li>
               <li><a href="/adsHotel Rooms">Hotel Rooms</a></li>
               <li><a href="/adsShops Office Space">Shops/Office Space</a></li>

            </ul>
         </li>
         <li>
            <a>Business Directory</a>
            <ul>
               <li><a href="/listElectronics">Electronics</a></li>
               <li><a href="/listReal Estate Agency">Real Estate Agency</a></li>
               <li><a href="/listBeauty And Fashions">Beauty And Fashions</a></li>
               <li><a href="/listTravelling Agency">Travelling Agency</a></li>
            </ul>
         </li>
         <li><a>Contact</a></li>
      </ul>
   </div>
</aside>
