<aside class="s-12 m-2 l-2">
   <div class="aside-nav minimize-on-small">
      <p class="aside-nav-text">Sidebar navigation</p>
            <ul>
               <li><a href="/listBusiness services">Business services</a></li>
               <li><a href="/listComputers & Internet">Computers & Internet</a></li>
               <li><a href="/listEntertainment & Media">Entertainment & Media</a></li>
               <li><a href="/listEvents & Conferences">Events & Conferences</a></li>
               <li><a href="/listFinances & Insurance">Finances & Insurance</a></li>
               <li><a href="/listFood & Drink">Food & Drink</a></li>
               <li><a href="/listHealth & Beauty">Health & Beauty</a></li>
               <li><a href="/listLegal">Legal</a></li>
               <li><a href="/listManufacturing & Industry">Manufacturing & Industry</a></li>
               <li><a href="/listShopping">Shopping</a></li>
               <li><a href="/listTourism & Accommodation">Tourism & Accommodation</a></li>
               <li><a href="/listTradesmen & Construction">Tradesmen & Construction</a></li>
               <li><a href="/listTransport & Motoring">Transport & Motoring</a></li>
               <li><a href="/listPublic & Social services">Public & Social services</a></li>
               <li><a href="/listProperty">Property</a></li>
            </ul>
   </div>
</aside>
