<div class="row dash-top">

<div class="col-md-offset-7 col-md-2 col-xs-12">
  
</div>
<div class="col-md-3 col-xs-12">
  <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
</div>
</div>
