

<!-- ========Modals ========== -->
<div id="ads" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>

      <div class="modal-body container-fluid ">
        <div class="l-6 m-6 s-6">
         <a href="/add-ads" style="float:right; padding-right:10px;"><u>Post Ad</u></a>
        </div>
        <div class="l-6 m-6 s-6">
          <a href="/add-list" style="float:left; padding-left:10px;"><u>Create Business Listing</u></a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="s-5 ">
  <a href="/ads"><h1 style="float : right;padding-right:4px;"><u><mark>Ads</mark></u></h1></a>
</div>
<div class="s-7 ">
  <a href="/list"><h1 ><u><mark>Business Listings</mark></u></h1></a>
</div>
