 <!-- HEADER -->

   <div class="line container-fluid">
      <div class="box" style="background-color:#152732;">
         <div class="s-6 l-2">
            <a href="/"><img src="img/logo.png"></a>
         </div>
         <div class="s-12 l-6 right">
            <div class="margin" style="margin-top:10px">
               <div class="s-12 l-12 " >
                 <nav style="">
                    <p class="nav-text">Main Menu</p>
                    <div class="top-nav s-12 l-12 ">
                       <ul style="float:right;" >
                          <li>
                             <a href="/">Home</a>
                          </li>
                          <li>
                             <a>Categories</a>
                             <ul>
                                <li><a href="/listBusiness services">Business services</a></li>
                                <li><a href="/listComputers & Internet">Computers & Internet</a></li>
                                <li><a href="/listEntertainment & Media">Entertainment & Media</a></li>
                                <li><a href="/listEvents & Conferences">Events & Conferences</a></li>
                                <li><a href="/listFinances & Insurance">Finances & Insurance</a></li>
                                <li><a href="/listFood & Drink">Food & Drink</a></li>
                                <li><a href="/listHealth & Beauty">Health & Beauty</a></li>
                                <li><a href="/listLegal">Legal</a></li>
                                <li><a href="/listManufacturing & Industry">Manufacturing & Industry</a></li>
                                <li><a href="/listShopping">Shopping</a></li>
                                <li><a href="/listTourism & Accommodation">Tourism & Accommodation</a></li>
                                <li><a href="/listTradesmen & Construction">Tradesmen & Construction</a></li>
                                <li><a href="/listTransport & Motoring">Transport & Motoring</a></li>
                                <li><a href="/listPublic & Social services">Public & Social services</a></li>
                                <li><a href="/listProperty">Property</a></li>
                             </ul>
                          </li>
                            <li><a href="/accounts">List Directory</a></li>
                            <li><a href="/mylist">My Business List</a></li>

                            <% if(user){ %>
                              <li ><a href="/logout" >logout</a></li>
                            <% } %>


                       </ul>
                    </div>
                 </nav>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- TOP NAV -->
