<div class="page-header text-center">
  <nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button>

</div>
<div class="collapse navbar-collapse" id="myNavbar">
<ul class="nav navbar-nav">
  <li class=""><a href="/">Home</a></li>
  <li><a href="/vacant">Vacant</a></li>
  <li><a href="/tobe">To Be Vacant</a></li>
  <li><a href="#">Agents</a></li>
  <li><a href="#">About Us</a></li>
</ul>
</div>
</div>
</nav>
    </div>
