<!-- HEADER -->
<header>
   <div class="line">
      <div class="box">
         <div class="s-6 l-2">
            <img src="img/logo.png">
         </div>
         <div class="s-12 l-8 right">
            <div class="margin" style="margin-top:10px">
               <div class="s-12 l-6 " >
                  <div class="s-5 ">
                    <a href="/ads"><h1 style="float : right;padding-right:4px;"><u><mark>Ads</mark></u></h1></a>
                  </div>
                  <div class="s-7 ">
                    <a href="/list"><h1 ><u><mark>Business Listings</mark></u></h1></a>
                  </div>
               </div>
               <div class="s-12 l-4 right">
                  <div class="right">
                    <% if(user){ %>
                      <div class="s-4 "><a href="/logout" class="btn ">logout</a></div>
                      <div class="s-4"><a href="/add-ads" class="btn ">Post Ad</a></div>
                    <% } else { %>
                      <div class="s-4 "><a href="/login" class="btn ">login</a></div>
                      <div class="s-4"><a href="/signup" class="btn ">Sign Up</a></div>
                    <% } %>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- TOP NAV -->
   <div class="line">
      <nav>
         <p class="nav-text">Main navigation</p>
         <div class="top-nav s-12 l-10">
            <ul>
               <li><a>Home</a></li>
               <li>
                  <a>Product</a>
                  <ul>
                     <li><a>Product 1</a></li>
                     <li><a>Product 2</a></li>
                     <li>
                        <a>Product 3</a>
                        <ul>
                           <li><a>Product 3-1</a></li>
                           <li><a>Product 3-2</a></li>
                           <li><a>Product 3-3</a></li>
                        </ul>
                     </li>
                  </ul>
               </li>
               <li>
                  <a>Company</a>
                  <ul>
                     <li><a>About</a></li>
                     <li><a>Location</a></li>
                  </ul>
               </li>
               <li><a>Contact</a></li>
            </ul>
         </div>
         <div class="hide-s hide-m l-2">
            <i class="icon-facebook_circle icon2x right padding"></i>
         </div>
      </nav>
   </div>
</header>
