 <!-- HEADER -->

   <div class="line container-fluid">
      <div class="box" style="background-color:#152732;">
         <div class="s-6 l-2">
            <a href="/"><img src="img/logo.png"></a>
         </div>
         <div class="s-12 l-6 right">
            <div class="margin" style="margin-top:10px">
               <div class="s-12 l-12 " >
                 <nav style="">
                    <p class="nav-text">Main Menu</p>
                    <div class="top-nav s-12 l-12 ">
                       <ul style="float:right;" >
                          <li>
                             <a href="/">Home</a>
                          </li>
                          <li>
                             <a>Categories</a>
                             <ul>
                                <li><a href="/listElectronics">Electronics</a></li>
                                <li><a href="/listReal Estate Agency">Real Estate Agency</a></li>
                                <li><a href="/listBeauty And Fashions">Beauty And Fashions</a></li>
                                <li><a href="/listTravelling Agency">Travelling Agency</a></li>
                             </ul>
                          </li>
                            <li><a href="/list">List Directory</a></li>
                            <li><a href="/mylist">My Business List</a></li>

                            <% if(user){ %>
                              <li ><a href="/logout" >logout</a></li>
                              <li ><a href="/client-ads" >My Ads</a></li>
                              <li ><a  ><i class="fa fa-plus">Ad/Listing</i></a></li>
                            <% } else { %>
                              <li ><a href="/login" >login</a></li>
                              <li ><a href="/signup" >Sign Up</a></li>
                            <% } %>


                       </ul>
                    </div>
                 </nav>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- TOP NAV -->
