<!-- /contact info -->
<div class="line search">
        <form id="contact-form" method="GET" action="/ads" class="form-inline">
        <div class="col-md-offset-2 col-md-3 col-sm-12 col-xs-12">
          <div class="">

         </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <div class="form-group">
         <input type="text" name="location" placeholder="search location" required="true" style="height:35px" class="form-control">
         </div>
        </div>
         <div class="col-md-3 col-sm-12 col-xs-12">
           <button type="submit" class="btn btn-style blue">Search</button>
         </div>
         </form>
       </div>
