<!-- /contact info -->
<div class="line search">
        <form id="contact-form" method="POST" action="/search" >
        <div class="col-md-offset-2 col-md-3 col-sm-12 col-xs-12">
          <div class="">
           <select class="form-control" id="cat" name="Category" required="true" style="background-color : white">
             <option  value="">Select Category</option>
             <option  value="All">All</option>
             <option  value="single">Electronics</option>
             <option  value="bedsitter">Real Estates</option>
             <option  value="one">House Argencies</option>
             <option  value="two">Boutique</option>
             <option  value="three">Clearing And Forwarding</option>
           </select>
         </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <div class="">
           <select class="form-control" id="location" required="true" name="location" style="background-color : white">
             <option value="">Select Location</option>
             <option  value="All">All</option>
             <option value="Tudor">Tudor</option>
             <option value="Kaachonjo">Kaa Chonjo</option>
             <option value="Makupa">Makupa</option>
             <option value="Sabasaba">Saba saba</option>

           </select>
         </div>
        </div>
         <div class="col-md-3 col-sm-12 col-xs-12">
           <button type="submit" class="btn btn-style blue">Search</button>
         </div>
         </form>
       </div>
