<nav class="navbar-default navbar-side" role="navigation">
<div class="sidebar-collapse">
<ul class="nav" id="main-menu">
<li class="text-center">
    <img src="assets/img/find_user.png" class="user-image img-responsive"/>
</li>


    <li>
        <a class="active-menu"  href="/profile"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
    </li>
     <li>
        <a  href="ui.html"><i class="fa fa-home fa-3x"></i> Properties<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href=""><i class=""></i> Ads<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="/all_ads">All</a>
                                    </li>
                                    <li>
                                        <a href="/pending_ads">Pending</a>
                                    </li>
                                    <li>
                                        <a href="/live_ads">Live</a>
                                    </li>

                                </ul>
            </li>
            <li>
                <a href=""><i class=""></i> Listings<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="/list_all">All</a>
                                    </li>
                                    <li>
                                        <a href="/list_pending">Pending</a>
                                    </li>
                                    <li>
                                        <a href="/list_live">Live</a>
                                    </li>

                                </ul>
            </li>
            <li>
                <a href="/admin-add">Add</a>
            </li>
        </ul>
    </li>
    <li>
        <a  href="tab-panel.html"><i class="fa fa-qrcode fa-3x"></i> Tabs & Panels</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-sitemap fa-3x"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="#">Second Level Link</a>
            </li>
            <li>
                <a href="#">Second Level Link</a>
            </li>
            <li>
                <a href="#">Second Level Link<span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                    <li>
                        <a href="#">Third Level Link</a>
                    </li>
                    <li>
                        <a href="#">Third Level Link</a>
                    </li>
                    <li>
                        <a href="#">Third Level Link</a>
                    </li>

                </ul>

            </li>
        </ul>
      </li>
  <li  >
        <a  href="blank.html"><i class="fa fa-square-o fa-3x"></i> Blank Page</a>
    </li>
</ul>

</div>

</nav>
